.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

.DS_Store
.atom/
.idea
.vscode
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins

*.iml
*.ipr
*.iws

android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
